doctype html
html(lang="de", ng-app="timeManager")
    head
        title Time Manager
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="styles/main.min.css")

    body

        .container

            h1.title Aufgabenliste

            div(ng-controller="MainController as main")

                .task-list
                    .task-list--item(ng-repeat="task in main.tasks")
                        .task-list--item-info
                            input(type="text", ng-model="task.description")
                        ul.task-list--times
                            li.task-list--times-item(ng-repeat="time in task.times")
                                .input-group
                                    input.input-group-field(type="text", ng-model="time.start")
                                    span.input-group-label -
                                    input.input-group-field(type="text", ng-model="time.end")

        script(src="//code.angularjs.org/1.5.0-rc.0/angular.min.js")
        script(src="scripts/main.min.js")
